/* :root {
	--form-color: cyan !important;
	--amplify-background-color: #f7faff;
	background-color: aliceblue;
}

amplify-authenticator {
	background-color: black !important;
}

:host {
	--background-color: black !important;
	--amplify-background-color: black;
} */

/* App.js */
@media (min-width: 768px) {
	.app-container {
		padding: 1.6em 4em 1.6em 4em;
	}
}

/* Navbar.js */
.nav-container {
	display: flex;
}

@media (max-width: 520px) {
	.nav-container {
		justify-content: center;
	}
}

@media (min-width: 520px) {
	.nav-container {
		justify-content: space-between;
	}
}

@media (max-width: 570px) {
	.greeting {
		display: none;
	}
}

.nav-items .greeting {
	color: #b7c4d3;
	float: left;
	height: 60px;
	line-height: 60px;
	margin: 0;
	position: relative;
	box-sizing: border-box;
	border-bottom: 5px solid transparent;
}

.nav-items .el-menu-item:nth-child(1) {
	cursor: default;
}

.app-name {
	color: orange;
	border: none !important;
	font-size: 2em;
	padding: 0 0.2em;
}

.nav-link {
	text-decoration: none;
}

/* NewMarket.js */
.market-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.market-title {
	display: inline-block;
}

.market-add-button {
	margin-left: 0.2em !important;
}

.market-search-bar {
	text-align: center;
}

.market-search-bar .el-input {
	margin-right: -8px;
}

.market-search-bar input {
	width: 240px;
	border-radius: 4px 0 0 4px;
}

.market-search-bar button {
	border-radius: 0 4px 4px 0;
}

/* MarketList.js */
.market-list {
	margin: 1em 4em;
}

.market-list-item {
	margin-bottom: 0.4em;
}

.market-list-item-marketname {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	color: #2d385a;
}

.market-list-item-product {
	color: orange;
	padding: 0 0.8em;
	font-size: 0.9em;
}

.market-list-item-right span {
	margin-left: 0.5em;
}

.search-result-text {
	padding: 0 12px;
}

/* MarketPage.js */
.back-nav-link {
	margin-bottom: 0.6em;
}

.market-name {
	margin-bottom: 0.6em;
}

.market-name strong {
	font-size: 1.4em;
	margin-right: 0.2em;
}

.market-page-tabs {
	margin-top: 0.6em;
}

.market-page-new-product {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.market-page-prodcut-list {
	padding: 1em 0;
}

.product-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	/* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: row dense;
	justify-items: center;
	grid-gap: 0.2em; */
}

/* NewProduct.js */
.new-product-form {
	max-width: 600px;
	min-width: 520px;
	text-align: center;
}

/* Product.js */
.product-card {
	margin-top: 2em;
}

.product-card .el-card {
	border-radius: 12px;
}

.product-card strong {
	display: inline-block;
	margin: 0.4em 0.8em;
}

.product-card .shipped {
	margin: 0 0.8em 0.4em 0.8em;
	display: flex;
	flex-direction: row;
}

.product-card .shipped i {
	margin-right: 0.2em;
}

.product-card .price {
	width: 100%;
	text-align: end;
}

.product-card .owner-buttons {
	text-align: right;
	margin: 0 0.8em 0.8em 0;
}
.product-card .dialog-buttons {
	text-align: center;
}

.product-card .pay-button {
	width: 100%;
}

.product-card .pay-button button {
	background: none !important;
	width: 100% !important;
	height: 3.6em;
	background-color: orange !important;
	border-radius: 0 !important;
}

.product-card .pay-button span {
	background: none !important;
	background-color: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
}
