/* :root {
	--form-color: cyan !important;
	--amplify-background-color: #f7faff;
	background-color: aliceblue;
} */

/*
amplify-authenticator {
	background-color: black !important;
}

:host {
	--background-color: black !important;
	--amplify-background-color: black;
}
*/

/* Authenticator */
/* .authenticator {
}

.auth-container {
} */

.auth-wrapper .bg {
	opacity: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("./background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(36px);
	z-index: -1;
}

.app-wrapper .bg {
	opacity: 0.1;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("./background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(36px);
	z-index: -1;
}

:host-context(.auth-wrapper) .auth-container {
	color: blue;
}

/* amplify-authenticator {
	background-image: url("./background.jpeg");
	padding: 100px;
} */

/* :host .auth-container {
	background-color: black;
} */

/* :host-context(.authenticator) .auth-container {
	background-color: black;
} */

/* App.js */
body {
	background-color: rgba(233, 243, 254, 0.4);
}

@media (min-width: 768px) {
	.app-container {
		padding: 1.6em 4em 1.6em 4em;
	}
}

/* Navbar.js */
.nav-container {
	display: flex;
	background-color: #29528c;
}

@media (max-width: 520px) {
	.nav-container {
		justify-content: center;
	}
}

@media (min-width: 520px) {
	.nav-container {
		justify-content: space-between;
	}
}

@media (max-width: 570px) {
	.greeting {
		display: none;
	}
}

.nav-items .greeting {
	color: #b7c4d3;
	float: left;
	height: 60px;
	line-height: 60px;
	margin: 0;
	position: relative;
	box-sizing: border-box;
	border-bottom: 5px solid transparent;
}

/* .nav-items .el-menu-item:nth-child(1) { */
/* cursor: default; */
/* } */

.nav-sub-menu .el-menu-item {
	width: fit-content;
	min-width: 0 !important;
}

.nav-sub-menu .el-menu-item span {
	cursor: pointer;
}

.app-name {
	color: orange;
	border: none !important;
	font-size: 2em;
	padding: 0 0.2em;
}

.nav-link {
	text-decoration: none;
}

.nav-container .markets,
.nav-container .products {
	font-size: 1.2em;
	font-weight: 600;
}

/* NewMarket.js */
.market-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.market-title {
	display: inline-block;
}

.market-add-button {
	margin-left: 0.2em !important;
}

.market-search-bar {
	text-align: center;
}

.market-search-bar .el-input {
	margin-right: -8px;
}

.market-search-bar input {
	width: 240px;
	border-radius: 4px 0 0 4px;
}

.market-search-bar button {
	border-radius: 0 4px 4px 0;
}

/* MarketList.js */
.market-list {
	margin: 1em 4em;
}

.market-list-item {
	margin-bottom: 0.4em;
}

.market-list-item:hover {
	cursor: pointer;
}

.market-list-item a {
	text-decoration: none;
}

.market-list-item-marketname {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	color: #2d385a;
}

.market-list-item-product {
	color: orange;
	padding: 0 0.8em;
	font-size: 0.9em;
}

.market-list-item-right span {
	margin-left: 0.5em;
}

.search-result-hint {
	margin: 0 2.6em;
}

.search-result-hint .search-result-text {
	padding: 0 12px;
}

/* MarketPage.js */
.back-nav-link {
	display: inline-block;
	margin-bottom: 0.6em;
	margin-right: 0.6em;
}

.market-name {
	margin-bottom: 0.6em;
}

.market-name strong {
	color: #3f4d5e;
	font-size: 1.4em;
	margin-right: 0.2em;
}

.market-page-tabs {
	margin-top: 0.6em;
}

.market-page .label-icon {
	padding-right: 0.2em;
}

.market-page-new-product {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.market-page-prodcut-list {
	padding: 1em 0;
}

.product-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	/* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: row dense;
	justify-items: center;
	grid-gap: 0.2em; */
}

/* NewProduct.js */
.new-product-form {
	max-width: 600px;
	min-width: 520px;
	text-align: center;
}

/* Product.js */
.product-card {
	margin-bottom: 2em;
	margin-right: 2vw;
}

.product-card:hover {
	cursor: pointer;
}

.product-card .el-card {
	border-radius: 12px;
}

.product-card .product-card-content {
	padding: 0.6em 0.8em 1em 0.8em;
	border-radius: 12px;
	background-color: white;
	overflow: hidden;
	/* position: absolute; */
	/* width: 13.45em; */
	/* top: 28em; */
	box-shadow: 0px 9px 9px -5px rgba(0, 0, 0, 0.28);
}

.product-card strong {
	display: inline-block;
	padding-bottom: 0.4em;
	/* margin: 0.4em 0.8em; */
}

/* .product-card .description {
	display: inline-block;
	margin: 0.4em 0.8em;
	max-width: 15em;
	max-height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;
} */

.product-card .shipped {
	/* margin: 0 0.8em 0.4em 0.8em; */
	display: flex;
	flex-direction: row;
}

.product-card .shipped i {
	margin-right: 0.2em;
}

.product-card .price {
	width: 100%;
	text-align: end;
}

.product-detail-dialog-body {
	display: flex;
	flex-direction: row;
}

.product-detail-dialog-body .image-wrapper {
	width: 80%;
	display: flex;
	justify-content: center;
}

.product-detail-dialog .product-detail-dialog-body .product-detail-content {
	padding: 0.6em 1em 0.6em 1em;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 40%;
	/* justify-content: space-between; */
}

.product-detail-dialog-body .product-detail-seond-line {
	display: flex;
	justify-content: space-between;
	margin: 0.4em 1em 2em 0;
}

.product-detail-dialog .product-detail-content .product-name {
	font-size: xx-large;
	font-weight: 900;
}

.product-detail-dialog .product-detail-content .product-price {
	font-size: xx-large;
	font-weight: 600;
	color: orange;
}

.product-detail-dialog .shipped {
	padding-top: 0.4em;
	font-size: large;
	font-weight: 600;
}

.product-detail-dialog .product-description {
	white-space: pre-line;
	font-size: large;
}

.product-card .owner-buttons {
	text-align: right;
	margin: 0 0.8em 0.8em 0;
}
.product-card .dialog-buttons {
	text-align: center;
}

.product-card .pay-button {
	width: 100%;
}

.product-card .pay-button button {
	background: none !important;
	width: 100% !important;
	height: 3.6em;
	background-color: orange !important;
	border-radius: 0 !important;
}

.product-card .pay-button span {
	background: none !important;
	background-color: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

/* ProfilePage.js */
.profile-page .el-tabs__nav-scroll {
	display: flex !important;
	justify-content: center !important;
}

.profile-page .el-tabs__item i,
.profile-page .el-tabs__item svg {
	padding-right: 0.2em;
}

.profile-page .summary {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-page .user-profile-table {
	max-width: 48em;
}

.profile-page .markets-tab h3 {
	text-align: center;
}

.profile-page .products-tab h3 {
	text-align: center;
}

.profile-page .orders h3 {
	text-align: center;
}

.profile-page .order-card {
	margin: 0.6em auto;
	width: 30em;
	border-radius: 4px;
}
.profile-page .order-card .order-content {
	width: 18em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-evenly;
	text-align: right;
}

.profile-page .order-card .product-name {
	font-size: larger;
	font-weight: bolder;
}

.profile-page .order-card .product-image {
	margin-right: 1em;
}
