:root {
	--form-color: cyan !important;
	--amplify-background-color: #f7faff;
	background-color: aliceblue;
}

amplify-authenticator {
	background-color: black !important;
}

:host {
	--background-color: black !important;
	--amplify-background-color: black;
}
